@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
* {
    box-sizing: border-box;
}

body {
    height: 100%;
    margin: 0;
    font-family: 'New Tegomin', serif;
    text-align: center;
}


/* HEADER*/

header {
    background: rgba(244, 235, 192, .2);
    background-size: cover;
    height: 80px;
    border-bottom: 1px solid #000;
    border-radius: 0 0 25px 25px;
}

.mobilmenu {
    font-size: 50px;
    font-weight: bold;
    margin-right: 30px;
    display: none;
    float: right;
}

.logo {
    height: 60px;
    float: right;
    margin-right: 40px;
    margin-top: 8px;
}

.graphic {
    height: 60px;
    float: left;
    margin-left: 40px;
    margin-top: 8px;
}

.nav {
    float: left;
    height: 100%;
}

.menu {
    list-style: none;
    margin: 0;
    height: 100%;
}

a {
    text-decoration: none;
    color: #000;
    font-size: 1.3vw;
    font-family: 'Jura', sans-serif;
}

.menu li {
    float: left;
    margin-top: 20px;
    height: 50%;
    border-right: 1px solid #000;
}

.menu li:last-child {
    border: none;
}

.menu a {
    display: block;
    height: 100%;
    padding: 0 20px;
    line-height: 38px;
    text-transform: uppercase;
}

.menu a:hover {
    background-color: rgba(243, 134, 48, .3);
}

.menu>li>ul {
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;
    background-color: transparent;
}

.menu>li>ul>li {
    float: none;
    margin-top: 0px;
    height: 40px;
    border: none;
    border-bottom: 1px ridge #000;
    width: 108%;
    text-align: center;
    background-color: rgba(248, 242, 210, 1);
}

.width-balance {
    width: 99% !important;
}

.menu li:hover ul {
    display: block;
}


/* MAIN*/

main {
    background: transparent url(img/background3.jpg) no-repeat;
    border: 1px solid #000;
    margin-left: 35px;
    margin-right: 35px;
    height: 100%;
    background-color: #bfe0cf;
}

section {
    min-height: 430px;
}

h1 {
    color: #f38630;
    display: block;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 2px 1px #000;
    font-size: 3.8vw;
    margin: 15vw 15vw 5vw 15vw;
    background-color: rgba(110, 164, 154, .6);
    height: 100%;
    text-transform: uppercase;
    padding: 30px;
    line-height: 75px;
}

.refresh {
    width: 20px;
    float: left;
    margin-right: 15px;
}

#main {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}


/*ELSŐ GOMB*/

.btn {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    background-color: #f38630;
    color: #fff;
    text-decoration: none;
    padding: 20px 35px;
    border: none;
    display: inline-block;
    margin: 8px;
    border-radius: 15px;
    text-shadow: 1px 1px black;
}

.btn:hover,
.btn:focus {
    color: #F2E55C;
    background-color: #E6637B;
    outline: none;
}

.btn:active {
    background-color: #b85100;
}

.bx-wrapper {
    border: 5px solid #69d2e7;
    border: ridge;
    display: block;
}

.mantra {
    display: inline-block;
    background-color: rgba(255, 255, 255, .7);
}

h3 {
    display: inline-block;
    margin: 30px 0 0 77px;
    float: left;
    line-height: 15px;
}

.description {
    font-size: 1.5vw;
    margin: 0 30px;
    padding: 35px;
    text-align: justify;
    float: left;
}


/*GRID*/

h2 {
    color: #f38630;
    display: block;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 2px 1px #000;
    font-size: 3vw;
    margin-top: 80px;
    background-color: rgba(110, 164, 154, .6);
    height: 100%;
    text-transform: uppercase;
    padding: 30px;
}

#grid {
    max-width: 1000px;
    margin: 80px auto;
    display: flex;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px;
}

.col {
    background: white;
    border-radius: 25px;
}

.grid .col-3 {
    grid-column: span 3;
}


/*FOGLALKOZÁSAINK*/

.image {
    margin-top: 40px;
    vertical-align: middle;
    width: 100%;
}

.p-line {
    display: inline-block;
    text-align: center;
    padding: 5px;
}

#background-image {
    background: transparent url(img/background1.jpg) no-repeat center;
}

.btn-yoga {
    font-family: 'Josefin Sans', sans-serif;
    background-color: #f38630;
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    border: none;
    display: inline-block;
    margin: 8px;
    border-radius: 15px;
    text-shadow: 1px 1px black;
}

.btn-yoga:hover {
    color: #F2E55C;
    background-color: #E6637B;
    outline: none;
}

.btn-yoga:active {
    background-color: #b85100;
}

.dataTables_wrapper .dataTables_length select {
    background-color: rgb(255, 255, 255);
}

.dataTables_wrapper .dataTables_filter input {
    background-color: rgb(255, 255, 255);
}


/*ÁRAK - FLEXBOX*/

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    background-color: rgb(243, 134, 48);
    font-family: Helvetica, sans-serif;
    margin-bottom: 80px;
}

.flex-container>div {
    background-color: rgba(244, 235, 192, .9);
    width: 100%;
    margin: 10px;
    text-align: justify;
}

.last-child {
    background-color: rgba(255, 255, 255, .9) !important;
}

.price-main {
    float: none;
    text-transform: uppercase;
    margin: 80px 0 0 80px;
}

.text-price {
    margin: 20px 80px;
    font-family: 'Jura', sans-serif;
}

.btn-price {
    font-family: 'Josefin Sans', sans-serif;
    background-color: #f38630;
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    border: none;
    display: inline-block;
    margin: 0px 80px 20px 0;
    border-radius: 15px;
    text-shadow: 1px 1px black;
    float: right;
}

.btn-price:hover {
    color: #F2E55C;
    background-color: #E6637B;
    outline: none;
}

.btn-price:active {
    background-color: #b85100;
}

.image-price {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border: 10px solid white;
}


/* OKTATÓINK*/

#teacher-slide {
    width: 100%;
}

.grid-container {
    display: grid;
    grid-gap: 10px;
    background-color: rgba(191, 224, 207, .7);
    padding: 10px;
}

.grid-container>div {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid black;
    text-align: center;
    font-size: 30px;
    width: 100%;
}

.teacher-image {
    width: 30%;
    float: left;
}

h5 {
    font-size: 1.7vw;
}

.teacher-desciprion {
    font-size: 1.5vw;
    margin: 10px 30px;
}


/*CONTACT*/

#contact {
    margin: 0 0 15px 0;
    text-align: center;
    font-size: 2vw;
    float: none;
    font-family: 'Jura', sans-serif;
}

.contact {
    margin: 10px 90px 30px 90px;
    font-size: 1.5vw;
    padding: 15px;
    font-weight: bold;
    font-family: 'Jura', sans-serif;
    background-color: rgba(243, 134, 48, .8);
}

.iframe-map {
    border: 0;
    width: 100%;
    height: 500px
}


/*QUESTION*/

#question {
    background-color: rgb(244, 235, 192);
}

.question-title {
    float: none;
    font-size: 25px;
    text-transform: uppercase;
    margin: 60px 0 20px 0;
    text-decoration: underline;
}

#form-group {
    font-family: 'Bebas Neue', cursive;
    font-size: 25px;
    letter-spacing: 6px;
    line-height: 1.7;
}

.btn-data {
    font-size: 20px;
    width: 15%;
    font-family: 'Josefin Sans', sans-serif;
    background-color: #f38630;
    color: #fff;
    text-decoration: none;
    padding: 20px 15px;
    border: none;
    border-radius: 15px;
    text-shadow: 1px 1px black;
    margin-bottom: 70px;
}

.btn-data:hover {
    color: #F2E55C;
    background-color: #E6637B;
    outline: none;
}

.btn-data:active {
    background-color: #b85100;
}

footer {
    line-height: 50px;
    height: 50px;
    font-family: Times New Roman;
}


/*RESPONSIVE*/

@media screen and (min-width:2560px) {
    h1 {
        line-height: 200px;
    }
    .mantra {
        margin-top: 325px !important;
    }
    .text-price {
        font-size: 1.1vw;
    }
}

@media screen and (min-width:1920px) {
    h1 {
        line-height: 100px;
    }
    .mantra {
        margin-top: 150px;
    }
}

@media screen and (min-width:1380px) {
    main {
        background-size: contain;
    }
    .btn {
        font-size: 1.6vw;
    }
    .mantra {
        margin-top: 150px;
    }
    .bx-wrapper {
        display: none;
    }
    section {
        min-height: 60px;
    }
    #background-image {
        background-size: inherit;
    }
    .btn-price {
        margin: 50px 100px 20px 0;
    }
}

@media screen and (max-width:920px) {
    header {
        border-radius: 0;
    }
    main {
        background-image: none;
    }
    h1 {
        position: static;
    }
    .nav {
        width: 100%;
        height: auto;
    }
    .menu {
        display: none;
        margin: 0;
        width: 100%;
        padding: 0;
        clear: both;
        background-color: rgba(255, 255, 255, .6);
    }
    a {
        font-size: 20px;
    }
    .logo {
        display: none;
    }
    .menu .start {
        margin-top: 8px;
    }
    .menu li {
        float: none;
        margin-top: 0px;
        border-right: none;
        border-bottom: 1px solid #000;
        width: 100%;
        text-align: center;
    }
    .mobilmenu {
        display: block;
        float: right;
    }
    .mobilmenu:hover {
        cursor: pointer;
    }
    .menunyit {
        display: block;
    }
    .menu>li>ul {
        display: block;
        padding-top: 0;
        position: static;
        width: 100%;
    }
    .menu>li>ul>li {
        display: block;
    }
    main {
        margin: 0;
    }
    .flex-container {
        display: block;
    }
    .flex-container>div {
        margin: 0;
        clear: both;
        display: inline-block;
    }
    .image {
        width: 60%;
    }
}

@media screen and (max-width:850px) {
    h1 {
        font-size: 20px;
        line-height: 50px;
    }
    .description {
        font-size: 15px;
    }
    h2 {
        font-size: 25px;
    }
    section {
        min-height: 250px;
    }
    #grid {
        grid-template-columns: none;
        display: block;
        max-width: 50%;
    }
    .btn {
        font-size: 20px;
    }
    .col {
        padding: 15px;
        margin-bottom: 30px;
        width: 100%;
        float: none;
        display: inline-block;
    }
    .flex-container {
        display: inline-block;
    }
    .flex-container>div {
        margin: 0;
        clear: both;
        display: inline-block;
    }
    .text-price {
        margin: 20px 50px;
    }
    .image {
        width: 100%;
    }
    table.dataTable tbody td {
        padding: 8px 5px;
    }
    .btn {
        padding: 20px 10px;
    }
    .btn-yoga {
        padding: 10px 5px;
    }
    a {
        font-size: 17px;
    }
    .teacher-image {
        width: 100%;
    }
    .teacher-desciprion {
        font-size: 20px;
        margin: 10px 10px 30px 10px;
    }
    h5 {
        font-size: 20px;
    }
    .contact {
        margin: 0 0 25px 0;
        font-size: 18px;
    }
    p {
        font-size: 13px;
    }
    .btn-data {
        width: 30%;
        font-size: 20px;
        line-height: 10px;
    }
}